<a href="https://colab.research.google.com/github/PauloSantos2002/Desenvolvimento_Spark_Python/blob/main/SparkPytonFaculdade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q pyspark

In [13]:
from pyspark import SparkContext
spark_contexto = SparkContext()
print(spark_contexto)
print(spark_contexto.version)

<SparkContext master=local[*] appName=pyspark-shell>
3.5.1

In [14]:
#usando SparkSession
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()#criando uma sessão
print(spark)
print("-----------")
dataset = spark.read.csv('/content/sample_data/california_housing_test.csv',inferSchema=True,header=True)
dataset.count()

<pyspark.sql.session.SparkSession object at 0x7c5f96d5e630>
-----------

3000

In [6]:
#criar uma tabela SQL temporária com os dados do “dataset”
dataset.createOrReplaceTempView('tabela_temporaria')
print(spark.catalog.listTables())
print("-----------")

#consulta SQL
query = 'FROM tabela_temporaria SELECT longitude, latitude LIMIT 3'
saida = spark.sql(query)
saida.show()

[Table(name='tabela_temporaria', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]
-----------
+---------+--------+
|longitude|latitude|
+---------+--------+
|  -122.05|   37.37|
|   -118.3|   34.26|
|  -117.81|   33.78|
+---------+--------+

# **Converter Spark SQL para Pandas**


*   Implementar a consulta SQL na tabela “tabela_temporaria” que já carregamos no Spark para retornar a quantidade máxima de quartos
*   Executar a consulta SQL no Spark e, assim, obter um DataFrame do Spar
*   Converter o resultado da etapa anterior para um DataFrame do Pandas.
*   Imprimir o resultado da consulta.
*   Converter o valor do DataFrame para um valor inteiro.

In [7]:
query1 = 'SELECT MAX(total_rooms) as maximo_quartos FROM tabela_temporaria'
q_maximo_quartos = spark.sql(query1)
pd_maximo_quartos = q_maximo_quartos.toPandas()
print('A quantidade máxima de quartos é: {}'.format(pd_maximo_quartos['maximo_quartos']))
qtd_maximo_quartos = int(pd_maximo_quartos.loc[0,'maximo_quartos'])

A quantidade máxima de quartos é: 0    30450.0
Name: maximo_quartos, dtype: float64

In [8]:
query2 = 'SELECT longitude, latitude FROM tabela_temporaria WHERE total_rooms = '+str(qtd_maximo_quartos)

localizacao_maximo_quartos = spark.sql(query2)

pd_localizacao_maximo_quartos = localizacao_maximo_quartos.toPandas()
print(pd_localizacao_maximo_quartos.head())

   longitude  latitude
0     -117.2     33.58

# Converter Pandas DataFrame para Spark **DataFrame**



*   Geração de dados aleatórios que seguem a distribuição normal com média e desvio-padrão que nós fornecemos. Usamos a biblioteca Numpy para gerar os dados e a Pandas para organizá-los em um DataFrame.
*   Converter o DataFrame do Pandas para um DataFrame do Spark.
*   Imprimir a lista de tabelas no catálogo do Spark.
*   Adicionar a tabela temporária no catálogo do Spark.
*   Examinar as tabelas no catálogo do Spark novamente.

In [9]:
import pandas as pd
import numpy as np
media = 0
desvio_padrao=0.1
pd_temporario = pd.DataFrame(np.random.normal(media,desvio_padrao,100))
spark_temporario = spark.createDataFrame(pd_temporario)

print(spark.catalog.listTables())
spark_temporario.createOrReplaceTempView('nova_tabela_temporaria')

print(spark.catalog.listTables())

[Table(name='tabela_temporaria', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]
[Table(name='nova_tabela_temporaria', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True), Table(name='tabela_temporaria', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [12]:
spark.stop()