<a href="https://colab.research.google.com/github/PauloSantos2002/Desenvolvimento_Spark_Python/blob/main/SparkPytonFaculdade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
!pip install -q pyspark

In [26]:
from pyspark import SparkContext

<SparkContext master=local[*] appName=TesteInstalacaoSpark>
3.5.1

In [34]:
#usando SparkSession
spark = SparkSession.builder.getOrCreate()#criando uma sessão
print(spark)
print("-----------")
dataset = spark.read.csv('/content/sample_data/california_housing_test.csv',inferSchema=True,header=True)
dataset.count()

<pyspark.sql.session.SparkSession object at 0x7a129d54b440>
-----------

3000

In [39]:
#criar uma tabela SQL temporária com os dados do “dataset”
dataset.createOrReplaceTempView('tabela_temporaria')
print(spark.catalog.listTables())
print("-----------")

#consulta SQL
query = 'FROM tabela_temporaria SELECT longitude, latitude LIMIT 3'
saida = spark.sql(query)
saida.show()

[Table(name='tabela_temporaria', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]
-----------
+---------+--------+
|longitude|latitude|
+---------+--------+
|  -122.05|   37.37|
|   -118.3|   34.26|
|  -117.81|   33.78|
+---------+--------+

# **Converter Spark SQL para Pandas**


*   Implementar a consulta SQL na tabela “tabela_temporaria” que já carregamos no Spark para retornar a quantidade máxima de quartos
*   Executar a consulta SQL no Spark e, assim, obter um DataFrame do Spar
*   Converter o resultado da etapa anterior para um DataFrame do Pandas.
*   Imprimir o resultado da consulta.
*   Converter o valor do DataFrame para um valor inteiro.

In [40]:
query1 = 'SELECT MAX(total_rooms) as maximo_quartos FROM tabela_temporaria'
q_maximo_quartos = spark.sql(query1)
pd_maximo_quartos = q_maximo_quartos.toPandas()
print('A quantidade máxima de quartos é: {}'.format(pd_maximo_quartos['maximo_quartos']))
qtd_maximo_quartos = int(pd_maximo_quartos.loc[0,'maximo_quartos'])

A quantidade máxima de quartos é: 0    30450.0
Name: maximo_quartos, dtype: float64